.game {
    display: block;
}

.game-div {
    text-align: center;
}

.board {
    display: flex;
    width: fit-content;
    margin: auto;
    border: solid 5px blue;
    border-top: none;
}

.row {
    display: block;
    border: 1px solid red;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.column:hover {
    border: solid 4px blue;
}

.cell {
    height: calc(100vw/7.5);
    width: calc(100vw/7.5);
    border: solid 1px blue;
    border-radius: 50%;
    background-color: lightyellow;
    display: inline-block;
}

@media (min-width: 40rem) {
    .cell {
        height: min(calc(100vh/10), calc(100vw/7.5));
        width: min(calc(100vh/10), calc(100vw/7.5));
    }
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: green;
}

